/* Generelt for alle sider */
* {
  box-sizing: border-box;
}
/* Regler for alle billeder generelt */
img {
  width: 100%;
  height: auto;
  display: block;
}
/* Placering af footer og header rigtigt på alle sider */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}
/* Generelt for alle sider */

a {
  color: black;
}

/* BURGERMENU */
.hidden {
  display: none;
  transform: scale(0);
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline;
  }

  /*BURGERMENU SLUT*/
}

#section_one {
  display: grid;
  place-items: center;
  height: 100%;
}

#section_one > * {
  grid-area: 1 / 1;
}

.box {
  display: grid;
  place-items: center;
  background: #efbd787c;
  box-shadow: 0px 0px 10px black;
  max-width: 500px;
  width: 90%;
  z-index: 10;
  gap: 1rem;
  padding: 2rem;
}

.box a {
  text-decoration: none;
  color: black;
}

.box h2 {
  justify-content: center;
  width: 100%;
  background-color: #f5e08e;
  box-shadow: 0px 0px 10px #243241;
  text-align: center;
  font-size: 2.5rem;
  margin: 0%;
}

.box h2:hover,
a:hover {
  background-color: #b2c5da;
  color: white;
}

.logo {
  padding: 0%;
  width: 40%;
}

@media screen and (min-width: 960px) {
  .box {
    display: grid;
    place-items: center;
    background: #efbd787c;
    box-shadow: 0px 0px 10px black;
  }

  .box a {
    text-decoration: none;
    color: black;
  }

  .box h2 {
    max-width: 500px;
    background-color: #f5e08e;
    box-shadow: 0px 0px 10px #243241;
    text-align: center;
    font-size: 2.5rem;
    margin: 0 auto;
  }
  .box h2:hover,
  a:hover {
    background-color: #b2c5da;
    color: white;
  }
}

#navigation,
#footer {
  font-family: Courier New;
  font-size: 1.02em;
  border: 1px solid black;
  padding: 1vw;
  text-align: center;
}
.nav_right {
  display: grid;
  margin-top: 2vw;
}

.nav_left a {
  font-weight: bold;
}

#navigation a,
#footer a {
  text-decoration: none;
  color: black;
}

#navigation a:hover,
#footer a:hover {
  text-decoration-line: underline;
  color: #c85955;
}

@media (min-width: 960px) {
  /*Header og footer*/
  #navigation,
  #footer {
    display: flex;
    justify-content: space-between;
  }

  .nav_right {
    display: flex;
    gap: 3vw;
    margin-top: 0;
  }
  .nav_left a {
    font-weight: normal;
  }
}
